h1 {
  font-size: 28px;
  font-weight: 600;
}
.titleContainer {
  padding: 53px 16px 72px 16px;
}

@media screen and (min-width: 767px) {
  h1 {
    font-size: 32px;
    font-weight: 600;
  }

  .titleContainer {
    padding: 73px 32px 100px 32px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 44px;
    font-weight: 600;
  }
  .titleContainer {
    padding: 102px 100px 100px 100px;
    max-width: 1440px;
  }
}
