h1 {
  font-size: 28px;
  font-weight: 600;
}
.titleContainer {
  padding: 53px 16px 72px 0px;
  max-height: 767px;
}

.titleContainer.dark {
  color: #fafafa;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
    font-weight: 600;
  }
  .titleContainer {
    padding: 73px 0px 100px 32px;
    width: 704px;
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 44px;
    font-weight: 600;
  }
  .titleContainer {
    width: 1440px;
    padding: 102px 0px 100px 100px;
  }
}
