.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.topbar {
  position: relative;
  border-bottom: 2px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.topbar.dark {
  border-bottom-color: #fafafa99;
}

.categoryList {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.categoryList.dark {
  color: #fafafa99;
}

.categoryList::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.categoryList::-webkit-scrollbar-thumb:hover {
  background: #8baa36;
  border-radius: 10px;
  cursor: grab;
}

.categoryList li {
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  padding-bottom: 32px;
  font-weight: 400;
}

.activeCategory {
  font-weight: bold;
  color: #8baa36;
  border-bottom: 2px solid #8baa36;
}

.mainContent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 1440px;
}

.recipeList {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  gap: 28px;
  margin-bottom: 100px;
}

.recipeItem {
  position: relative;
  cursor: pointer;
}

.recipePicture {
  width: 343px;
  height: 323px;
  border-radius: 8px;
  z-index: 1;
}
.recipeTitle {
  position: absolute;
  bottom: 26px;
  left: 18px;
  width: 307px;
  height: 52px;
  background-color: #f0f0f0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leafPicture {
  position: absolute;
  transform: rotate(90deg);
  bottom: -3%;
  left: -7%;
  height: 256px;
  width: 392px;
}
@media screen and (min-width: 767px) {
  .topbar {
    justify-content: center;
    margin-left: 32px;
  }
  .recipeItem {
    position: relative;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .recipeList {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 28px;
    margin-bottom: 150px;
  }
  .recipePicture {
    width: 336px;
  }

  .leafPicture {
    position: absolute;
    transform: rotate(90deg);
    bottom: -8%;
    left: -15%;
    height: 423px;
    width: 646px;
  }
}
@media screen and (min-width: 1440px) {
  .categoryList li {
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .categoryList {
    position: initial;
    bottom: -32px;
    left: -9px;
    display: flex;
    padding: 10px 29px 32px 29px;
  }
  .topbar {
    position: none;
    border-bottom: 2px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
  }

  .recipePicture {
    width: 300px;
  }
  .recipeTitle {
    position: absolute;
    bottom: 24px;
    left: 16px;
    width: 268px;
    height: 52px;
    background-color: #f0f0f0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leafPicture {
    bottom: -15%;
    left: 0%;
    height: 558px;
    width: 852px;
  }
}

.recipeItem:hover {
  background-color: #f0f0f0;
}

.error {
  color: red;
}
