.popularContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0px 16px 0px 16px;
  margin-bottom: 100px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

.popularList {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 24px;
}

.popularListItems {
  display: flex;
  justify-content: left;
  gap: 12px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e0e0e0;
}

.popularPictures {
  width: 104px;
  height: 85px;
  border-radius: 8px;
}

.popularText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popularTitle {
  font-size: 16px;
  font-weight: 500;
}

.popularDescription {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .popularList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    gap: 24px;
    max-width: 706px;
  }
  .popularListItems {
    display: flex;
    justify-content: left;
    max-width: 336px;
    gap: 12px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e0e0e0;
  }
}

@media screen and (min-width: 1439px) {
  .popularList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
    justify-content: center;
    gap: 24px;
    max-width: 706px;
  }
  .popularListItems {
    max-width: 319px;
  }
  h3 {
    padding-bottom: 24px;
  }
}
