.addRecipeContainer {
  display: block;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 1;
}
.followUsContainer {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.followUs {
  display: none;
  color: #8baa36;
  padding-left: 16px;
}

.followUsTextStyle {
  color: black;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 40px;
}

.followUsTextStyle.dark {
  color: #fafafa;
}

.titleBox {
  padding-left: 16px;
  padding-right: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular {
  z-index: 1;
}
.leafPicture {
  position: absolute;
  transform: rotate(90deg);
  bottom: -5%;
  left: -20%;
  height: 256px;
  width: 392px;
  z-index: 0;
  filter: blur(2px);
}

@media screen and (min-width: 768px) {
  .titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .leafPicture {
    position: absolute;
    transform: rotate(90deg);
    bottom: -11%;
    left: -15%;
    height: 423px;
    width: 646px;
  }
}

@media screen and (min-width: 1440px) {
  .followUs {
    display: block;
  }
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 121px;
    flex-direction: row;
  }
  .followUsPopularContainer {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .leafPicture {
    bottom: -18%;
    left: 0%;
    height: 558px;
    width: 852px;
  }
}
