.addRecipeContainer {
  display: block;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.followUsContainer {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.followUs {
  display: none;
}

@media screen and (min-width: 1440px) {
  .followUs {
    display: block;
  }
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 121px;
    flex-direction: row;
  }
  .followUsPopularContainer {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}
