.chooseContainer {
  width: 225px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  position: absolute;
  top: 50%;
  right: 34px;
  transform: translateY(-50%);
  padding: 8px;
  border-radius: 15px;
  background-color: #fafafa;
  z-index: 3;
}
.chooseDescription {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.24px;
  font-weight: 500;
}
.chooseDescriptionSpan {
  color: #8baa36;
}
.chooseArrowBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px;
  color: #3e4462;
}
.chooseArrowBtn img {
  width: 12px;
  margin-left: 4px;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .chooseContainer {
    width: 260px;
    height: 100px;
    padding: 12px;
  }
  .chooseDescription {
    font-size: 14px;
    line-height: 20px;
  }
}
