.followIconList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.followLink {
  width: 24px;
  height: 24px;
}

.followLink.dark {
  color: #fafafa;
}

.followLink.dark:hover,
.followLink.dark:focus {
  color: black;
}

@media screen and (min-width: 768px) {
  .followIconList {
    gap: 18px;
  }
}
