.header {
  z-index: 9999999;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.desktopMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 100px 18px 100px;
  width: 100%;
  gap: 187px;
}

.userTogglerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.mobileMenu {
  display: none;
  position: relative;
}

.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger.dark {
  color: #fafafa;
}

@media (max-width: 767px) {
  .mobileMenu {
    padding: 18px 16px 0px 16px;
    gap: 166px;
  }
}

@media (min-width: 768px) {
  .mobileMenu {
    gap: 553px;
    padding: 18px 32px 0px 32px;
  }
  .hamburger.dark {
    color: black;
  }
}

@media (max-width: 1439px) {
  .desktopMenu {
    display: none;
  }
  .header {
    width: 1440px;
  }

  .mobileMenu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .mobileMenuContent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .userMenuContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 155px;
    width: 100%;
  }
}
