.toggleContainer {
  position: relative;
  display: inline-block;
  width: 61px;
  height: 27px;
  cursor: pointer;
}

.toggleInput {
  width: 61px;
  height: 27px;
  z-index: 1000;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
}

.toggleLabel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.toggleLabel::before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s ease;
}

.toggleInput:checked + .toggleLabel {
  background-color: #8baa36;
}

.toggleInput:checked + .toggleLabel::before {
  transform: translateX(32px);
}
