.mainPageContainer {
  max-width: 375px;
  margin: 0 auto;
}
.spinachImg {
  position: absolute;
  top: -5%;
  right: -22rem;
  overflow: hidden;
  z-index: 1;
}

.squareBackground {
  position: absolute;
  top: 0;
  left: 72%;
  z-index: 0;
  /* background-color: #ebf3d4; */
  /* width: 941px;
  height: 912px;
  
  
  rotate: -55deg;
  border-radius: 10%; */
}
.light {
  background-color: #fafafa;
}
.dark {
  background-color: black;
}
@media screen and (min-width: 768px) {
  .mainPageContainer {
    max-width: 768px;
  }
  .spinachImg {
    right: -11rem;
    top: -8rem;
    z-index: 1;
  }
  .squareBackground {
    /* height: 1800px;
    top: -19rem;
    left: 55rem; */
  }
}
@media screen and (min-width: 1440px) {
  .mainPageContainer {
    max-width: 1440px;
  }
  .spinachImg {
    right: 0;
  }
  .squareBackground {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 600px solid blue; /* Wysokość trapezu */
    border-left: 900px solid transparent; /* Krawędź pozioma trapezu */
    border-right: 300px solid transparent; /* Krawędź pochylona trapezu */
    border-bottom-left-radius: 30px;
  }
}
@media screen and (min-width: 2140px) {
  .squareBackground {
    /* rotate: -111deg;
    top: -46rem;
    left: 99rem; */
  }
}
