.mainPageContainer {
  max-width: 375px;
  margin: 0 auto;
}
.spinachImg {
  position: absolute;
  top: -5%;
  right: -22rem;
  overflow: hidden;
  z-index: 1;
}

.squareBackground {
  position: absolute;
  top: 150px;
  left: 55%;
  z-index: 0;
  background-color: #ebf3d4;
  width: 706px;
  height: 642px;
  transform: rotate(45deg);
}

.light {
  background-color: #fafafa;
}
.dark {
  background-color: black;
}
@media screen and (min-width: 768px) {
  .mainPageContainer {
    max-width: 768px;
  }
  .spinachImg {
    right: -11rem;
    top: -8rem;
    z-index: 1;
  }
  .squareBackground {
    left: 65%;
    top: -204px;
    width: 730px;
    height: 753px;
    border-radius: 10%;
    transform: rotate(30deg);
  }
}
@media screen and (min-width: 1440px) {
  .mainPageContainer {
    max-width: 1440px;
  }
  .spinachImg {
    right: 0;
  }
  .squareBackground {
    left: 58%;
    top: 0px;
    transform: rotate(20deg);
    border-radius: 10%;
    border-bottom-right-radius: 80%;
    width: 2048px;
    height: 912px;
  }
}
