.container {
  margin: 20px;
  max-width: 343px;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.ingredientsList {
  margin-bottom: 20px;
}

.ingredientContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.selectIngredient {
  margin-right: 33px;
  max-width: 194px;
  background-color: #d9d9d984;
  height: 53px;
  border-radius: 8px;
  padding-left: 10px;
  outline: none;
}

.inputUnitValue {
  position: relative;
  right: 0px;
  max-width: 114px;
  height: 53px;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #d9d9d984;
  text-align: right;
  padding-right: 60px;
  outline: none;
}

.selectUnit {
  position: absolute;
  right: 15px;
  width: 50px;
  height: 53px;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
}

.removeButton {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.addButton,
.saveButton {
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.addButton {
  background-color: green;
  color: white;
  border: none;
}

.saveButton {
  background-color: blue;
  color: white;
  border: none;
}

.titlePart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.ingredientCounter {
  border: 1px solid #3333334d;
  width: 92px;
  height: 28px;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 14px 7px 14px;
}
.counterText {
  font-size: 14px;
}
.counterIcon {
  stroke: #8baa36;
}

@media screen and (min-width: 767px) {
  .titlePart {
    margin-bottom: 32px;
  }
  .container {
    margin: 20px;
    max-width: 704px;
  }
  .selectIngredient {
    margin-right: 33px;
    min-width: 398px;
    background-color: #d9d9d984;
    height: 53px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1439px) {
  .container {
    margin: 20px;
    max-width: 704px;
  }
  .selectIngredient {
    margin-right: 33px;
    min-width: 398px;
    background-color: #d9d9d984;
    height: 53px;
    border-radius: 8px;
  }
}
