.userLogoModal {
  position: fixed;
  top: 78;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.userLogoModalContent {
  background-color: white;
  width: 161px;
  height: 130px;
  padding: 18px;
  border: 1px solid #8baa36;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userLogoModalButton {
  display: block;
  width: 125px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.userEditButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editIcon {
  width: 12px;
  height: 12px;
}
.userLogOutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: #fafafa;
  background-color: #8baa36;
  gap: 4px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 15px;
  height: 43px;
}

@media screen and (min-width: 768px) {
  .userLogoModalContent {
    background-color: white;
    width: 177px;
    height: 134px;
    padding: 18px;
    border: 1px solid #8baa36;
    border-radius: 8px;
  }
  .userLogoModalButton {
    width: 141px;
  }
}
